/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*Paralax code*/


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://scontent.xx.fbcdn.net/v/t31.0-8/15128813_915832865184223_71113063036085295_o.jpg?oh=1f940ae878adad4dee36737a88e10250&oe=5914FD98");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://scontent.xx.fbcdn.net/v/t31.0-8/15128813_915832865184223_71113063036085295_o.jpg?oh=1f940ae878adad4dee36737a88e10250&oe=5914FD98");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://scontent.xx.fbcdn.net/v/t31.0-8/15128813_915832865184223_71113063036085295_o.jpg?oh=1f940ae878adad4dee36737a88e10250&oe=5914FD98");
  min-height: 400px;
}

.caption {
  
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}